.logo{
  width: 130px;
  position: fixed;
  left:5%;
  top:30px;
  z-index: 3;
  img{
    width: 100%;
  }
  @include mq(0,600px){
        position: absolute;
        top:3%;
        width: 80px;
      }
}
.toggle-button {
  position: fixed;
  top: 30px;
  /*horizontal centering: https://css-tricks.com/forums/topic/horizontal-centering-of-an-absolute-element/ */
  right: 5%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 9px 2px;
  margin: 8px 15px 8px 0;
  height: 20px;
  width: 35px;
  cursor: pointer;
  z-index: 3;
  @include mq(0,600px){
        top:1%;
      }
}

.bar {
  background-color: $primary-color;
  display: block;
  width: 100%;
  height: 3px;
  border: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.bar + .bar {
  margin-top: 3px;
}

.middle {
  top: 15px;
}

.bottom {
  top: 30px;
}


.toggle-active .bar {
  background-color: #fff;
}

.toggle-active .top {
  -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
}

.toggle-active .middle {
  opacity: 0;
}

.toggle-active .bottom {
  -webkit-transform: translateY(-6px) translateX(0) rotate(-45deg);
}


/** styling for the overlay. The sliding-down effect of the overlay is given by the initial zero height and the onclick 100% height. **/

.overlay {
  position: fixed;
  background-color: $secundary-color;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  z-index: 2;
}


/* class added to the overlay on click*/

.nav-active {
  opacity: 0.9;
  visibility: visible;
  height: 50%;
}

.overlay ul {
  display: block;
  position: relative;
  top:50%;
    transform:translateY(-50%);
  font-family: $font-txt;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  list-style: none;
  padding: 0;
}

.overlay ul li {
  display: block;
  margin-bottom: 20px;
}

.overlay ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.25s ease 0s; 
  &:hover{
    letter-spacing:2px;
  }
}

.hidden {
  opacity: 0;
}
